---
import type { CollectionEntry } from 'astro:content'
import Card from './Card.astro'

export type Props = CollectionEntry<'articles'>

const { data, slug } = Astro.props
---

<Card
  author={data.author}
  href={`/articles/${slug}`}
  date={data.published}
  tags={data.category}
>
  <h2 class="p-name">{data.name}</h2>
  <p class="p-summary">{data.summary}</p>

  <Fragment slot="footer">
    <a href={`/articles/${slug}`} class="u-url">Full article</a>
  </Fragment>
</Card>

<style>
  .p-name {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-4);
    max-inline-size: 100%;
  }

  :global([data-theme='dark']) [target='_blank'] > h2:after,
  :global([data-theme='dark']) .u-in-reply-to:after {
    filter: invert();
  }

  h2 {
    font-size: var(--font-size-3);
    color: var(--text-2);
    margin-block-end: var(--size-3);
  }

  .u-url {
    font-size: var(--size-fluid-2);
  }
</style>
