---
import type { ArticleSummary } from '@data/articles.js'
import { isoDate, shortDate } from '@utils/dates'
import For from './For.astro'
import Show from './Show.astro'

export type Props = ArticleSummary

const { title, description, published, slug, tags } = Astro.props
---

<article>
  <h3>
    <a href={`/articles/${slug}/`}>{title}</a>
  </h3>
  <p>
    <time datetime={isoDate(published)}>{shortDate(published)}</time>
    <For each={tags}>
      {
        (tag: string, i: number) => (
          <>
            <Show when={i !== tags!.length}>
              <span aria-hidden="true">⋅&nbsp;</span>
            </Show>
            <a href={`/articles/tags/${tag}`}>{tag}</a>
          </>
        )
      }
    </For>
  </p>
  <p>
    {description}
  </p>
</article>
