---
import { Image } from 'astro:assets'
import type { HTMLAttributes } from 'astro/types'
import { type CollectionEntry } from 'astro:content'

export type Props = HTMLAttributes<'div'> & {
  author: CollectionEntry<'personas'>
}

const { author, class: className, ...attrs } = Astro.props

function getHandleName(author: CollectionEntry<'personas'>) {
  return author.data.nickname.slice(0, author.data.nickname.indexOf('@'))
}

function getHandleDomain(author: CollectionEntry<'personas'>) {
  const start = author.data.nickname.indexOf('@')
  const end = author.data.nickname.lastIndexOf('.')

  return author.data.nickname.slice(
    start + 1,
    end >= 0 ? end : author.data.nickname.length,
  )
}
---

<div class:list={[className, 'h-card']} {...attrs}>
  <Image
    src={author.data.logo}
    alt={author.data.name}
    width={48}
    height={48}
    format="webp"
    class="u-logo"
  />
  <p class="p-name sr-only">{author.data.name}</p>
  <p class="p-nickname">
    <b>{getHandleName(author)}</b>
    <span>@</span>
    <i>{getHandleDomain(author)}</i>
    <span>
      {author.data.nickname.slice(author.data.nickname.lastIndexOf('.'))}
    </span>
  </p>
</div>

<style>
  .h-card {
    display: flex;
    align-items: center;
    gap: var(--size-fluid-1);
  }

  .p-nickname {
    gap: var(--size-1);
  }

  .p-nickname > span:last-of-type {
    display: none;
  }

  .u-logo {
    border-radius: var(--radius-round);
  }
</style>
