---
import Card from "./Card.astro";
import { Icon } from "astro-icon";
import type { CollectionEntry } from "astro:content";
import { scrape } from "~/utils/scrape";
import Show from "./Show.astro";

export type Props = CollectionEntry<"bookmarks">;

const { data, slug } = Astro.props;

const metadata = await scrape(data.bookmarkOf);

if (!metadata) {
  throw new Error(`Could not load metadata for bookmark "${slug}"`);
}

const bookmarkUrl = new URL(data.bookmarkOf)
---

<Card
  author={data.author}
  href={data.bookmarkOf}
  date={data.published}
  tags={data.category}
  photo={data.photo}
  contentClass="u-bookmark-of"
>
  <h2 class="p-name">{metadata.title}</h2>

  <Show when={metadata.description}>
    <p class="p-summary">{metadata.description}</p>
  </Show>

  <small slot="footer">
    <Icon name="bookmark-solid" size={24} aria-label="Bookmark" />
    <span>Bookmarked from {bookmarkUrl.host}</span>
  </small>
</Card>

<style>
  h2 {
    font-size: var(--font-size-3);
    color: var(--text-2);
    font-weight: var(--font-weight-4);
    max-inline-size: 100%;
  }

  p {
    margin-block-start: var(--size-3);
  }

  small {
    display: flex;
    align-items: center;
    gap: var(--size-1);
  }
</style>
