---
import { Image } from 'astro:assets'
import { getEntryBySlug } from 'astro:content'
import { Icon } from 'astro-icon'
import site from '~/data/site.json'

const avatar = await getEntryBySlug('personas', 'tony')

const { url, title, social } = site

const year = new Date().getFullYear()
---

<footer class="container">
  <section class="h-card">
    <Image hidden class="u-photo" src={avatar.data.logo.photo} format="webp" alt={avatar.data.logo.name} />
    <span hidden class="p-note">{site.description}</span>
    <p>
      <strong>© {year}</strong>
      <a class="p-name u-url" rel="me" href={url}>{title}</a>
    </p>

    <p>
      <strong>Social</strong>
      <a title="Mastodon" rel="me" href={social.mastodon_url}>Mastodon</a>
      /
      <a title="Twitter" rel="me" href={social.twitter_url}>Twitter</a>
      /
      <a title="Github" rel="me" href={social.github_url}>Github</a>
    </p>

    <p>
      <strong>Legal</strong>
      <a href="/privacy">Privacy Policy</a>
    </p>

    <p>
      <strong>Subscribe</strong>
      <a title="RSS Feed" href={site.feeds.all.rss}>RSS</a>
      /
      <a title="Atom Feed" href={site.feeds.all.atom}>Atom</a>
      /
      <a title="JSON Feed" href={site.feeds.all.json}>JSON</a>
    </p>

    <p>
      <a title="Mastodon" href={social.mastodon_url}>
        <Icon name="mastodon" size={24} />
      </a>
      <a title="Twitter" href={social.twitter_url}>
        <Icon name="twitter" size={24} />
      </a>
      <a title="GitHub" href={social.github_url}>
        <Icon name="github" size={24} />
      </a>
    </p>
  </section>
</footer>

<style>
  footer {
    --container-width: 100%;
    padding-block: var(--size-fluid-2);
  }

  section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  p {
    flex-basis: 50%;
  }

  p strong {
    display: block;
  }

  a {
    color: inherit;
    display: inline-block;
  }

  p:last-of-type {
    margin-block-start: var(--size-fluid-3);
  }

  p:last-of-type a:not(:last-of-type) {
    margin-right: var(--size-fluid-2);
  }

  @media (min-width: 640px) {
    p {
      flex-basis: unset;
      margin-right: var(--size-fluid-3);
      margin: 0 var(--size-fluid-3) 0 0;
    }

    p:last-of-type {
      flex-basis: 100%;
    }
  }

  @media (min-width: 979px) {
    p {
      margin-bottom: 0;
    }

    p:last-of-type {
      flex-basis: unset;
      flex-grow: 1;
      margin: 0;
      text-align: end;
    }
  }
</style>
