---
import { Picture } from 'astro:assets'
import { getEntry, type CollectionEntry } from 'astro:content'
import { type HTMLAttributes } from 'astro/types'
import Show from './Show.astro'

export type Props = Omit<HTMLAttributes<"img">, 'alt' | 'src' | 'slot'> & {
  photo: CollectionEntry<"photos">
  zoomIn?: boolean
  sizes: string
  widths: number[]
}

const { photo, zoomIn = false, sizes, widths, ...attrs } = Astro.props

const caption = photo.data.name

const {
  ...pictureProps
} = attrs
---

<figure>
  <Show when={zoomIn}>
    <a href={photo.data.photo.src} target="_blank">
      <Picture
        src={photo.data.photo}
        alt={photo.data.summary ?? ""}
        {sizes}
        {widths}
        {...pictureProps}
      />
    </a>

    <Picture
      slot="fallback"
      src={photo.data.photo}
      alt={photo.data.summary ?? ""}
      {sizes}
      {widths}
      {...pictureProps}
    />
  </Show>
  <figcaption>{caption}</figcaption>
</figure>

<style>
  a:hover,
  a:focus-within {
    cursor: zoom-in;
  }
</style>
