---
import { Picture, type LocalImageProps } from 'astro:assets'
import { type CollectionEntry } from 'astro:content'
import { type HTMLAttributes } from 'astro/types'
import Show from './Show.astro'
import type { ImageOutputFormat } from 'astro'

type PictureProps = LocalImageProps & {
  formats?: ImageOutputFormat[]
  fallbackFormat?: ImageOutputFormat
  pictureAttributes?: HTMLAttributes<'picture'>
  widths?: number[]
}

export type Props = Omit<PictureProps, 'alt' | 'src' | 'slot'> & {
  photo: CollectionEntry<'photos'>
  zoomIn?: boolean
}

const {
  photo,
  zoomIn = false,
  formats = ['avif', 'webp', 'jpg'],
  ...attrs
} = Astro.props

const caption = photo.data.name
---

<figure>
  <Show when={zoomIn}>
    <a href={photo.data.photo.src} target="_blank">
      <Picture
        src={photo.data.photo}
        alt={photo.data.summary ?? ""}
        {formats}
        {...attrs}
      />
    </a>

    <Picture
      slot="fallback"
      src={photo.data.photo}
      alt={photo.data.summary ?? ""}
      {formats}
      {...attrs}
    />
  </Show>
  <figcaption>{caption}</figcaption>
</figure>

<style>
  a:hover,
  a:focus-within {
    cursor: zoom-in;
  }
</style>
