---
import type { HTMLAttributes } from 'astro/types'
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon'
import site from '~/data/site'
import TagList from './TagList.astro'

export type Props = Omit<HTMLAttributes<'aside'>, 'slot'>

const { ...attrs } = Astro.props

const articles = await getCollection('articles')
const bookmarks = await getCollection('bookmarks')
const notes = await getCollection('notes')

const entries = [...articles, ...bookmarks, ...notes]

const uniq = entries.reduce((acc, next) => {
  ;(next.data.category || []).forEach(tag => {
    const count = acc.has(tag) ? acc.get(tag)! : 0

    acc.set(tag, count + 1)
  })
  return acc
}, new Map<string, number>())

const tags = Array.from(uniq.entries())
  .sort(([, a], [, b]) => b - a)
  .map(([tag]) => tag)
---

<aside {...attrs}>
  <div>
    <p>💼 Navillus</p>
    <p>🖥️ Software Engineer</p>
    <p>🔥 IndieWeb Enthusiast</p>
  </div>
  <div>
    <p>
      <Icon name="location" size={20} />
      <span>{site.location}</span>
    </p>
    <p>
      <Icon name="link" size={20} />
      <a href="https://astro.build">astro.build</a>
    </p>
  </div>
  <ul>
    <li>
      <a title="Mastodon" href={site.social.mastodon_url}>
        <Icon name="mastodon" size={24} />
      </a>
    </li>
    <li>
      <a title="GitHub" href={site.social.github_url}>
        <Icon name="github" size={24} />
      </a>
    </li>
    <li>
      <a title="Gitea" href={site.social.gitea_url}>
        <Icon name="gitea" size={24} />
      </a>
    </li>
  </ul>
  <TagList tags={tags} />
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-3);
    font-weight: var(--font-weight-7);
    font-family: var(--font-mono);
    color: var(--text-2);
  }

  a[title='Home'] {
    grid-area: logo;
    --icon-bg: var(--blue-7);
    --icon-fg: var(--gray-0);
  }

  a {
    --link: var(--text-2);
    --link-visited: var(--text-2);
  }

  a:hover,
  a:focus-visible {
    --link: var(--indigo-11);
    --link-visited: var(--indigo-11);
  }

  div {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--size-fluid-3);
    row-gap: var(--size-fluid-1);
  }

  p {
    display: flex;
    align-items: center;
    gap: var(--size-1);
  }

  a,
  p {
    font-size: var(--font-size-fluid-0);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    gap: var(--size-3);
  }

  ul a {
    height: var(--size-8);
    width: var(--size-8);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul a:first-child {
    margin-inline-start: -1rem;
  }
</style>
