---
import site from '../data/site.js'

export interface Props {
	title?: string | undefined
	description: string
	image: ImageMetadata
	canonicalURL: URL
}

const { title, description, image, canonicalURL } = Astro.props

const imageAbsolute = new URL(image.src, site.url)

const fullTitle = [title, site.title].filter(Boolean).join(' • ')
---

<!-- Common -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{fullTitle}</title>
<meta name="description" content={description} />
<meta
	name="keywords"
	content="web development, jamstack, simplicity, minimalism, economics, engineering, science"
/>
<meta name="robots" content="index,follow" />
<meta name="author" content={site.author} />
<link rel="canonical" href={canonicalURL} />

<!-- Favicons -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Open Graph -->
<meta property="og:title" content={fullTitle} />
<meta property="og:site_name" content={site.title} />
<meta property="og:type" content="website" />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageAbsolute} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:locale" content="en_US" />

<!-- Twitter -->
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={imageAbsolute} />
<meta name="twitter:url" content={canonicalURL} />
<meta name="twitter:card" content={site.social.twitter_card} />
<meta name="twitter:site" content={site.social.twitter_handle} />
<meta name="twitter:creator" content={site.social.twitter_handle} />
